<div class="container">
    <div class="row">
        <form action="/put-profile" method="post" enctype="multipart/form-data">
            <input type="text" hidden class="form-control" id="userId" name="userId" value="<%=data.userId%>">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName"
                    value="<%=data.fullName%>">
                </div>
                <div class="form-group col-md-6">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="0" <%= data.gender == 0? 'selected': '' %>>
                            Male
                        </option>
                        <option value="1" <%= data.gender == 1? 'selected': '' %>>
                            Female
                        </option>   
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="bio">Bio</label>
                    <input type="text" class="form-control" id="bio" name="bio"
                    value="<%=data.bio%>">
                </div>

                <div class="form-group col-md-6">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" name="birthday"
                    value="<%=data.birthday? new Date(data.birthday).toISOString().split('T')[0] : ''%>">
                    <!-- .toISOString(): Chuyển về dạng chuỗi tiêu chuẩn
                    .split('T')[0]: Chỉ lấy phần ngày (ví dụ: 2026-05-08) và bỏ đi phần giờ phía sau -->
                </div>

                <div class="form-group col-md-6">
                    <label for="avatar">Avatar</label>
                    <input type="file" class="form-control" id="avatar" name="avatar"
                    value="<%=data.avatarUrl%>">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>